In [ ]:
import sys
sys.path.append('/database')

In [11]:
import pandas as pd

In [12]:
stock_data = pd.read_csv(r"/Users/praveenkadam/Documents/Algorithmic_trading/stock_sdk/fo_mktlots.csv")

In [13]:
stock_data

,name,symbol,description
0,HDFC LTD,NSE:HDFC-EQ,A financial services conglomerate providing ho...
1,HDFC BANK LTD,NSE:HDFCBANK-EQ,A private sector bank offering a range of fina...
2,ICICI LOMBARD GIC LIMITED,NSE:ICICIGI-EQ,A general insurance company offering a range o...
3,BAJAJ FINSERV LTD.,NSE:BAJAJFINSV-EQ,"A financial services company offering lending,..."
4,AXIS BANK LIMITED,NSE:AXISBANK-EQ,A private sector bank offering a range of bank...
5,AU SMALL FINANCE BANK LTD,NSE:AUBANK-EQ,Banking and financial services provider for mi...
6,BANDHAN BANK LIMITED,NSE:BANDHANBNK-EQ,Banking and financial services provider for mi...
7,CHOLAMANDALAM IN & FIN CO,NSE:CHOLAFIN-EQ,Banking and financial services provider for re...
8,POWER FIN CORP LTD.,NSE:PFC-EQ,A financial institution that provides funding ...
9,HDFC AMC LIMITED,NSE:HDFCAMC-EQ,A subsidiary of HDFC Bank that provides asset ...
10,HDFC LIFE INS CO LTD,NSE:HDFCLIFE-EQ,A life insurance company that provides a range...
11,BAJAJ FINANCE LIMITED,NSE:BAJFINANCE-EQ,A non-banking financial company (NBFC) that pr...
12,ICICI BANK LTD.,NSE:ICICIBANK-EQ,A private sector bank that provides a range of...
13,IDFC FIRST BANK LIMITED,NSE:IDFCFIRSTB-EQ,A commercial bank that provides a range of ban...
14,INDUSIND BANK LIMITED,NSE:INDUSINDBK-EQ,A private sector bank that provides a range of...
15,PIRAMAL ENTERPRISES LTD,NSE:PEL-EQ,Diversified conglomerate with interests in pha...
16,RBL BANK LIMITED,NSE:RBLBANK-EQ,Private sector bank offering a range of bankin...
17,KOTAK MAHINDRA BANK LTD,NSE:KOTAKBANK-EQ,Private sector bank offering a range of bankin...
18,MUTHOOT FINANCE LIMITED,NSE:MUTHOOTFIN-EQ,Non-Banking Financial Company
19,PUNJAB NATIONAL BANK,NSE:PNB-EQ,Banking and financial services company
20,STATE BANK OF INDIA,NSE:SBIN-EQ,Banking and financial services company
21,REC LIMITED,NSE:RECLTD-EQ,Infrastructure finance company
22,ICICI PRU LIFE INS CO LTD,NSE:ICICIPRULI-EQ,Life insurance company
23,SBI LIFE INSURANCE CO LTD,NSE:SBILIFE-EQ,Life insurance company
24,FEDERAL BANK LTD,NSE:FEDERALBNK-EQ,The Federal Bank Limited is a private sector c...

In [15]:
from database.crud import HistoricalDataCRUD
crud = HistoricalDataCRUD()

In [20]:

historical_data = crud.read_historical_data("NSE:SBIN-EQ")

In [23]:
import pandas as pd



df = pd.DataFrame([vars(d) for d in historical_data])
df = df.drop(columns=['_sa_instance_state','stock_id', 'id', 'volume' ])

In [24]:
df

         time        date  open_price  low_price  close_price  high_price
0    01:00:00  2023-04-29       567.8      565.5        578.3      580.45
1    01:00:00  2023-04-29       567.8      565.5        578.3      580.45
2    01:00:00  2023-04-29       567.8      565.5        578.3      580.45
3    01:00:00  2023-04-29       567.8      565.5        578.3      580.45
4    01:00:00  2023-04-29       567.8      565.5        578.3      580.45
..        ...         ...         ...        ...          ...         ...
153  01:00:00  2023-04-29       567.8      565.5        578.3      580.45
154  01:00:00  2023-04-29       567.8      565.5        578.3      580.45
155  01:00:00  2023-04-29       567.8      565.5        578.3      580.45
156  01:00:00  2023-04-29       567.8      565.5        578.3      580.45
157  01:00:00  2023-04-29       567.8      565.5        578.3      580.45

[158 rows x 6 columns]